<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-brand white-header">{{ $ctrl.title | uppercase }}</div>
    <ul class="nav navbar-nav nav-background">
      <li ng-repeat="nav in $ctrl.navLinks">
        <a class="navbar-brand hover-links" ui-sref="{{ nav.link }}">{{ nav.label }}</a>
      </li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..." ng-model="$ctrl.form.search" name="search">
      </div>
      <button type="submit"
              class="btn btn-primary active"
              ng-click="$ctrl.searched({search: $ctrl.form.search})">
        Submit
      </button>
    </form>
  </div>
</nav>
