<navbar></navbar>
<header>
  <hero></hero>
</header>
<main>
  <div class="row">
    <div class="container">
      <div class="col-lg-4">
        <h2>Employee Details</h2>
        <p>Click here for employee master detail feature. This route will display a sample of, lets say a companies employees with some basic information and you can perform basic CRUD on them.</p>
        <p><a class="btn btn-primary" ui-sref="/employees" role="button">go to employees &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <h2>NG6 STARTER</h2>
        <p>This is a practice application in preparation to upcoming contracts that work with AngularJS.</p>
      </div>
      <div class="col-lg-4">
        <h2>Some other feature</h2>
        <p>If I have time, I will add something here.</p>
        <p><a class="btn btn-primary" href="#" role="button" disabled="desabled">go to other &raquo;</a></p>
      </div>
    </div>
  </div>
</main>
