<form class="col-md-4 well">
  <div class="form-group">
    <label for="fullName">Employee Full Name</label>
    <input type="text" class="form-control" id="fullName" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label for="userId">Employee Username</label>
    <input type="text" class="form-control" id="userId" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="empPosition">Employee Position</label>
    <input type="text" class="form-control" id="empPosition" placeholder="position">
  </div>
  <div class="form-group">
    <label for="empEmail">Employee Email</label>
    <input type="text" class="form-control" id="empEmail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="empPhone">Employee Phone Number</label>
    <input type="text" class="form-control" id="empPhone" placeholder="Phone">
  </div>
  <div class="pull-right">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-warning">Cancel</button>
  </div>
</form>
